// 默认值
$accentColor = #f99                         // 主题颜色

.search-box input
    height 1.6rem
    background url(/assets/img/search.83621669.svg) 0.6rem 0.5rem no-repeat
    border-radius 5rem !important

.home-blog .hero h1,.home-blog .hero .description
    color #f99 !important

.home-blog .hero h1
    margin 5rem 0 1rem
    font-size 1.5rem

.home-blog .hero .description
    font-size 1.2rem
